n8n_workflow.json
{
  "meta": { "instanceId": "marketlensai" },
  "name": "Market Intelligence Bot",
  "nodes": [

    {
      "id": "note-setup",
      "name": "SETUP INSTRUCTIONS",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, -200],
      "parameters": {
        "content": "## ⚙️ Setup Steps\n1. Open the **Config** node and replace:\n   - `YOUR_PROJECT_ID` → your Supabase project ID\n   - `YOUR_ANON_KEY` → your Supabase anon key\n2. Add Credentials in n8n Settings → Credentials:\n   - **Google Gemini API** (key from aistudio.google.com)\n   - **Gmail OAuth2** (for daily reports)\n3. Do the same replacements in the **Daily Scheduler** section HTTP nodes\n4. Click **Activate** (top-right toggle)",
        "width": 380,
        "height": 180,
        "color": 5
      }
    },

    {
      "id": "wh001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "business-strategy",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "business-strategy"
    },

    {
      "id": "cfg001",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "parameters": {
        "mode": "keepAllValuesExcept",
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "supabase_url", "value": "https://YOUR_PROJECT_ID.supabase.co", "type": "string" },
            { "id": "f2", "name": "supabase_key", "value": "YOUR_ANON_KEY", "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "sw001",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [700, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r1", "leftValue": "={{ $json.type }}", "rightValue": "onboarding", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "onboarding"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r2", "leftValue": "={{ $json.type }}", "rightValue": "analysis", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "analysis"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r3", "leftValue": "={{ $json.type }}", "rightValue": "reports", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "reports"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r4", "leftValue": "={{ $json.type }}", "rightValue": "chat", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "chat"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r5", "leftValue": "={{ $json.type }}", "rightValue": "refresh", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "refresh"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r6", "leftValue": "={{ $json.type }}", "rightValue": "report", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "report"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r7", "leftValue": "={{ $json.type }}", "rightValue": "competitor_add_url", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "competitor_add_url"
            },
            {
              "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "r8", "leftValue": "={{ $json.type }}", "rightValue": "competitor_discover_location", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "competitor_discover_location"
            }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "res-onb",
      "name": "Respond: Onboarding",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, -600],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ user_id: 'new', status: 'processing' }) }}", "options": {} }
    },

    {
      "id": "if-ana",
      "name": "Latest or History?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, -380],
      "parameters": {
        "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.action }}", "rightValue": "latest", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
        "options": {}
      }
    },

    {
      "id": "http-ana-l",
      "name": "Supabase: Latest Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -480],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/analyses?user_id=eq.' + $('Route by Type').first().json.user_id + '&order=run_date.desc&limit=1&select=*' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }] },
        "options": {}
      }
    },

    {
      "id": "http-ana-h",
      "name": "Supabase: Analysis History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, -300],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/analyses?user_id=eq.' + $('Route by Type').first().json.user_id + '&order=run_date.desc&limit=30&select=id,run_date,status,summary,comparisons,suggestions' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }] },
        "options": {}
      }
    },

    {
      "id": "res-ana",
      "name": "Respond: Analysis",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, -380],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify(Array.isArray($json) && $json.length > 0 ? $json[0] : ($json || null)) }}", "options": {} }
    },

    {
      "id": "http-rp",
      "name": "Supabase: Get Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, -100],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/reports?user_id=eq.' + $json.user_id + '&order=sent_at.desc&select=id,sent_at,sent_to,status,analysis_id' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }] },
        "options": {}
      }
    },

    {
      "id": "res-rp",
      "name": "Respond: Reports List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, -100],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify(($json || []).map(r => ({ id: r.id, date: r.sent_at, email: r.sent_to, status: r.status }))) }}", "options": {} }
    },

    {
      "id": "agent-chat",
      "name": "AI Chat Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [960, 160],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'You are a market intelligence assistant for a small business owner in India. Use ₹ for prices. Be helpful and practical.\\n\\nPrevious conversation:\\n' + (($json.history || []).map(m => (m.role === 'user' ? 'User: ' : 'Assistant: ') + m.text).join('\\n') || 'None') + '\\n\\nCurrent question: ' + $json.message }}",
        "options": {}
      }
    },

    {
      "id": "gmn-chat",
      "name": "Gemini for Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.2,
      "position": [960, 340],
      "credentials": { "googleGeminiApi": { "id": "gemini-cred", "name": "Google Gemini API" } },
      "parameters": { "modelName": "models/gemini-1.5-flash", "options": { "maxOutputTokens": 1024 } }
    },

    {
      "id": "set-chat",
      "name": "Format Chat Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 160],
      "parameters": { "mode": "manual", "assignments": { "assignments": [{ "id": "r1", "name": "reply", "value": "={{ $json.output }}", "type": "string" }] }, "options": {} }
    },

    {
      "id": "res-chat",
      "name": "Respond: Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1440, 160],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ reply: $json.reply }) }}", "options": {} }
    },

    {
      "id": "http-prod",
      "name": "Supabase: Get Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 480],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/products?user_id=eq.' + $json.user_id + '&select=name,type,price,stock' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }] },
        "options": {}
      }
    },

    {
      "id": "http-comp",
      "name": "Supabase: Get Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 480],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/competitors?user_id=eq.' + $('Route by Type').first().json.user_id + '&select=name,website,location' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }] },
        "options": {}
      }
    },

    {
      "id": "code-prompt",
      "name": "Build Analysis Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 480],
      "parameters": {
        "jsCode": "const uid = $('Route by Type').first().json.user_id;\nconst products = $('Supabase: Get Products').all().map(i => i.json);\nconst competitors = $('Supabase: Get Competitors').all().map(i => i.json);\n\nconst pList = products.length ? products.map(p => `- ${p.name}: ₹${p.price}, Stock: ${p.stock || 'N/A'}`).join('\\n') : 'No products added yet';\nconst cList = competitors.length ? competitors.map(c => `- ${c.name} (${c.website || 'no website'})`).join('\\n') : 'No competitors added yet';\n\nconst prompt = `You are a market intelligence AI for small businesses in India.\\n\\nMY PRODUCTS:\\n${pList}\\n\\nMY COMPETITORS:\\n${cList}\\n\\nReturn ONLY raw JSON with no markdown and no code blocks:\\n{\"summary\":\"2-3 sentence insight\",\"comparisons\":[{\"my_product\":\"Name\",\"my_price\":999,\"competitor\":\"CompName\",\"competitor_price\":899,\"status\":\"undercut\"}],\"suggestions\":[{\"priority\":\"high\",\"title\":\"Title\",\"body\":\"Advice\",\"impact\":\"+10% revenue\"}],\"competitors_scouted\":[]}`;\n\nreturn [{ json: { prompt, user_id: uid } }];"
      }
    },

    {
      "id": "agent-ref",
      "name": "Gemini: Analyze Market",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1680, 480],
      "parameters": { "promptType": "define", "text": "={{ $json.prompt }}", "options": {} }
    },

    {
      "id": "gmn-ref",
      "name": "Gemini for Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.2,
      "position": [1680, 660],
      "credentials": { "googleGeminiApi": { "id": "gemini-cred", "name": "Google Gemini API" } },
      "parameters": { "modelName": "models/gemini-1.5-flash", "options": { "maxOutputTokens": 2048 } }
    },

    {
      "id": "code-parse",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 480],
      "parameters": {
        "jsCode": "const uid = $('Build Analysis Prompt').first().json.user_id;\nconst raw = $json.output || '{}';\nlet analysis;\ntry {\n  const cleaned = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  analysis = JSON.parse(cleaned);\n} catch (e) {\n  analysis = { summary: raw.substring(0, 400) || 'Analysis complete.', comparisons: [], suggestions: [{ priority: 'high', title: 'Retry', body: 'AI response could not be parsed. Please refresh again.', impact: 'N/A' }], competitors_scouted: [] };\n}\nreturn [{ json: { user_id: uid, run_date: new Date().toISOString(), status: 'complete', summary: analysis.summary || '', comparisons: analysis.comparisons || [], suggestions: analysis.suggestions || [], competitors_scouted: analysis.competitors_scouted || [] } }];"
      }
    },

    {
      "id": "http-save-ana",
      "name": "Supabase: Save Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/analyses' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.user_id, run_date: $json.run_date, status: $json.status, summary: $json.summary, comparisons: $json.comparisons, suggestions: $json.suggestions, competitors_scouted: $json.competitors_scouted }) }}",
        "options": {}
      }
    },

    {
      "id": "res-ref",
      "name": "Respond: Refresh",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2400, 480],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'complete', id: ($json[0] || $json).id || null, summary: $('Parse AI Response').first().json.summary, comparisons: $('Parse AI Response').first().json.comparisons, suggestions: $('Parse AI Response').first().json.suggestions, competitors_scouted: $('Parse AI Response').first().json.competitors_scouted }) }}", "options": {} }
    },

    {
      "id": "http-ga",
      "name": "Supabase: Get Analysis for Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 820],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/analyses?id=eq.' + $json.analysis_id + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }] },
        "options": {}
      }
    },

    {
      "id": "code-email",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 820],
      "parameters": {
        "jsCode": "const req = $('Route by Type').first().json;\nconst rawAna = $('Supabase: Get Analysis for Report').first().json;\nconst analysis = Array.isArray(rawAna) ? rawAna[0] : rawAna;\n\nconst sc = s => s === 'undercut' ? '#e53e3e' : s === 'optimal' ? '#38a169' : '#94a3b8';\nconst rows = (analysis.comparisons || []).map(c => `<tr><td style='padding:8px;border:1px solid #e2e8f0'>${c.my_product}</td><td style='padding:8px;border:1px solid #e2e8f0'>&#8377;${c.my_price}</td><td style='padding:8px;border:1px solid #e2e8f0'>${c.competitor}</td><td style='padding:8px;border:1px solid #e2e8f0'>&#8377;${c.competitor_price}</td><td style='padding:8px;border:1px solid #e2e8f0;color:${sc(c.status)}'>${c.status}</td></tr>`).join('');\nconst suggs = (analysis.suggestions || []).map(s => `<li style='margin-bottom:8px'><strong>[${(s.priority||'').toUpperCase()}]</strong> ${s.title}: ${s.body}</li>`).join('');\nconst html = `<html><body style='font-family:sans-serif;max-width:600px;margin:0 auto;padding:24px'><h2 style='color:#4f46e5'>&#128202; Market Intelligence Report</h2><p style='color:#64748b'>${new Date().toLocaleDateString('en-IN',{weekday:'long',year:'numeric',month:'long',day:'numeric'})}</p><hr style='border:none;border-top:1px solid #e2e8f0;margin:16px 0'><h3>Summary</h3><p>${analysis.summary||'No summary.'}</p><h3>Product Comparison</h3><table style='width:100%;border-collapse:collapse;font-size:14px'><tr style='background:#f8fafc;font-weight:600'><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Product</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Your Price</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Competitor</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Their Price</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Status</th></tr>${rows||'<tr><td colspan=\"5\" style=\"padding:12px;text-align:center;color:#94a3b8\">No data yet</td></tr>'}</table><h3>Recommendations</h3><ul style='padding-left:20px'>${suggs||'<li>No suggestions yet.</li>'}</ul><p style='color:#94a3b8;font-size:12px;margin-top:24px'>Powered by MarketLensAI</p></body></html>`;\n\nreturn [{ json: { html, recipient: req.email, analysis_id: req.analysis_id, user_id: req.user_id, subject: '&#128202; Daily Market Intelligence &#8212; ' + new Date().toLocaleDateString('en-IN') } }];"
      }
    },

    {
      "id": "gmail001",
      "name": "Send Gmail Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1440, 820],
      "credentials": { "gmailOAuth2": { "id": "gmail-cred", "name": "Gmail Account" } },
      "parameters": { "sendTo": "={{ $json.recipient }}", "subject": "={{ $json.subject }}", "message": "={{ $json.html }}", "options": { "emailType": "html" } }
    },

    {
      "id": "http-save-rep",
      "name": "Supabase: Save Report Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 820],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.supabase_url + '/rest/v1/reports' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $('Config').first().json.supabase_key }}" }, { "name": "Authorization", "value": "={{ 'Bearer ' + $('Config').first().json.supabase_key }}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $('Build Email HTML').first().json.user_id, analysis_id: $('Build Email HTML').first().json.analysis_id, sent_to: $('Build Email HTML').first().json.recipient, sent_at: new Date().toISOString(), status: 'sent' }) }}",
        "options": {}
      }
    },

    {
      "id": "res-rep",
      "name": "Respond: Report Sent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 820],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ status: 'sent', message: 'Report sent to ' + $('Build Email HTML').first().json.recipient }) }}", "options": {} }
    },

    {
      "id": "http-scrape",
      "name": "Scrape Competitor URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 1120],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "User-Agent", "value": "Mozilla/5.0 (compatible; MarketBot/1.0)" }] },
        "options": { "redirect": { "redirect": { "maxRedirects": 3 } }, "timeout": 10000 }
      }
    },

    {
      "id": "agent-ext",
      "name": "Extract Business Name",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1200, 1120],
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Extract only the business name from this website content. Return ONLY valid JSON with no other text: {\"name\": \"Business Name\"}\\n\\nURL: ' + $('Route by Type').first().json.url + '\\n\\nPage content:\\n' + String($json.data || $json.body || '').substring(0, 1500) }}",
        "options": {}
      }
    },

    {
      "id": "gmn-ext",
      "name": "Gemini for Extraction",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.2,
      "position": [1200, 1300],
      "credentials": { "googleGeminiApi": { "id": "gemini-cred", "name": "Google Gemini API" } },
      "parameters": { "modelName": "models/gemini-1.5-flash", "options": { "maxOutputTokens": 100 } }
    },

    {
      "id": "code-cu",
      "name": "Format Competitor URL Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 1120],
      "parameters": {
        "jsCode": "const rawUrl = $('Route by Type').first().json.url;\nconst raw = $json.output || '';\nlet name = 'Unknown Business';\ntry {\n  const cleaned = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  name = JSON.parse(cleaned).name || 'Unknown Business';\n} catch (e) {\n  try { name = new URL(rawUrl).hostname.replace('www.', ''); } catch (e2) { name = rawUrl; }\n}\nlet website = rawUrl;\ntry { website = new URL(rawUrl).hostname.replace('www.', ''); } catch (e) {}\nreturn [{ json: { competitor: { name, website, source: 'url' } } }];"
      }
    },

    {
      "id": "res-cu",
      "name": "Respond: Competitor URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 1120],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {} }
    },

    {
      "id": "code-disc",
      "name": "Build Competitor Discovery Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 1440],
      "parameters": {
        "jsCode": "// Returns mock results. To enable real search: add SerpAPI HTTP node before this.\n// SerpAPI: GET https://serpapi.com/search.json?q=BUSINESS_TYPE+near+LOCATION&api_key=KEY\nconst loc = $json.location || 'your area';\nconst bt  = $json.business_type || 'business';\nreturn [{ json: { competitors: [\n  { name: `${bt} Mart — ${loc}`,   website: '', location: loc, distance: '0.5 km' },\n  { name: `${loc} ${bt} Store`,     website: '', location: loc, distance: '1.1 km' },\n  { name: `New ${bt} Hub`,          website: '', location: loc, distance: '2.3 km' }\n] } }];"
      }
    },

    {
      "id": "res-disc",
      "name": "Respond: Discover Competitors",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 1440],
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {} }
    },

    {
      "id": "note-sched",
      "name": "Daily Scheduler Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 1680],
      "parameters": {
        "content": "## ⏰ Daily Scheduler\nRuns every day at 6:00 AM IST (00:30 UTC).\n\n**Update all HTTP nodes below** — replace `YOUR_PROJECT_ID` and `YOUR_ANON_KEY` with your Supabase values.",
        "width": 340,
        "height": 110,
        "color": 3
      }
    },

    {
      "id": "sched001",
      "name": "Daily Scheduler",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 1820],
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 30 0 * * *" }] }, "options": {} }
    },

    {
      "id": "http-users",
      "name": "Supabase: Get All Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 1820],
      "parameters": {
        "method": "GET",
        "url": "=https://YOUR_PROJECT_ID.supabase.co/rest/v1/users?select=id,company_name,gmail",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "=YOUR_ANON_KEY" }, { "name": "Authorization", "value": "=Bearer YOUR_ANON_KEY" }] },
        "options": {}
      }
    },

    {
      "id": "split001",
      "name": "Loop Each User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 1820],
      "parameters": { "batchSize": 1, "options": {} }
    },

    {
      "id": "http-dly-prod",
      "name": "Daily: Get Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 1820],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://YOUR_PROJECT_ID.supabase.co/rest/v1/products?user_id=eq.' + $json.id + '&select=name,type,price,stock' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "=YOUR_ANON_KEY" }, { "name": "Authorization", "value": "=Bearer YOUR_ANON_KEY" }] },
        "options": {}
      }
    },

    {
      "id": "http-dly-comp",
      "name": "Daily: Get Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 1820],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://YOUR_PROJECT_ID.supabase.co/rest/v1/competitors?user_id=eq.' + $('Loop Each User').item.json.id + '&select=name,website' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "=YOUR_ANON_KEY" }, { "name": "Authorization", "value": "=Bearer YOUR_ANON_KEY" }] },
        "options": {}
      }
    },

    {
      "id": "code-dly-prompt",
      "name": "Daily: Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 1820],
      "parameters": {
        "jsCode": "const user = $('Loop Each User').item.json;\nconst products = $('Daily: Get Products').all().map(i => i.json);\nconst competitors = $('Daily: Get Competitors').all().map(i => i.json);\nconst pList = products.length ? products.map(p => `- ${p.name}: ₹${p.price}, Stock: ${p.stock||'N/A'}`).join('\\n') : 'No products yet';\nconst cList = competitors.length ? competitors.map(c => `- ${c.name} (${c.website||'no website'})`).join('\\n') : 'No competitors yet';\nconst prompt = `Analyze the business data for ${user.company_name}. Return ONLY raw JSON (no markdown):\\n{\"summary\":\"...\",\"comparisons\":[{\"my_product\":\"...\",\"my_price\":0,\"competitor\":\"...\",\"competitor_price\":0,\"status\":\"undercut|optimal|no_data\"}],\"suggestions\":[{\"priority\":\"high|medium|low\",\"title\":\"...\",\"body\":\"...\",\"impact\":\"...\"}],\"competitors_scouted\":[]}\\n\\nMY PRODUCTS:\\n${pList}\\n\\nMY COMPETITORS:\\n${cList}`;\nreturn [{ json: { prompt, user } }];"
      }
    },

    {
      "id": "agent-dly",
      "name": "Daily: AI Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1680, 1820],
      "parameters": { "promptType": "define", "text": "={{ $json.prompt }}", "options": {} }
    },

    {
      "id": "gmn-dly",
      "name": "Gemini Daily",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.2,
      "position": [1680, 2000],
      "credentials": { "googleGeminiApi": { "id": "gemini-cred", "name": "Google Gemini API" } },
      "parameters": { "modelName": "models/gemini-1.5-flash", "options": { "maxOutputTokens": 2048 } }
    },

    {
      "id": "code-dly-parse",
      "name": "Daily: Parse Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 1820],
      "parameters": {
        "jsCode": "const user = $('Daily: Build Prompt').first().json.user;\nconst raw = $json.output || '{}';\nlet analysis;\ntry {\n  const cleaned = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  analysis = JSON.parse(cleaned);\n} catch (e) {\n  analysis = { summary: raw.substring(0, 300), comparisons: [], suggestions: [], competitors_scouted: [] };\n}\nreturn [{ json: { user, analysis } }];"
      }
    },

    {
      "id": "http-dly-save",
      "name": "Daily: Save Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 1820],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_PROJECT_ID.supabase.co/rest/v1/analyses",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "=YOUR_ANON_KEY" }, { "name": "Authorization", "value": "=Bearer YOUR_ANON_KEY" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=representation" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.user.id, run_date: new Date().toISOString(), status: 'complete', summary: $json.analysis.summary, comparisons: $json.analysis.comparisons, suggestions: $json.analysis.suggestions, competitors_scouted: $json.analysis.competitors_scouted }) }}",
        "options": {}
      }
    },

    {
      "id": "code-dly-email",
      "name": "Daily: Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 1820],
      "parameters": {
        "jsCode": "const { user, analysis } = $('Daily: Parse Analysis').first().json;\nconst sc = s => s === 'undercut' ? '#e53e3e' : s === 'optimal' ? '#38a169' : '#94a3b8';\nconst rows = (analysis.comparisons||[]).map(c => `<tr><td style='padding:8px;border:1px solid #e2e8f0'>${c.my_product}</td><td style='padding:8px;border:1px solid #e2e8f0'>&#8377;${c.my_price}</td><td style='padding:8px;border:1px solid #e2e8f0'>${c.competitor}</td><td style='padding:8px;border:1px solid #e2e8f0'>&#8377;${c.competitor_price}</td><td style='padding:8px;border:1px solid #e2e8f0;color:${sc(c.status)}'>${c.status}</td></tr>`).join('');\nconst suggs = (analysis.suggestions||[]).map(s => `<li style='margin-bottom:8px'><strong>[${(s.priority||'').toUpperCase()}]</strong> ${s.title}: ${s.body}</li>`).join('');\nconst html = `<html><body style='font-family:sans-serif;max-width:600px;margin:0 auto;padding:24px'><h2 style='color:#4f46e5'>&#128202; Daily Market Intelligence &#8212; ${user.company_name}</h2><p style='color:#64748b'>${new Date().toLocaleDateString('en-IN',{weekday:'long',year:'numeric',month:'long',day:'numeric'})}</p><hr style='border:none;border-top:1px solid #e2e8f0;margin:16px 0'><h3>Summary</h3><p>${analysis.summary}</p><h3>Product Comparison</h3><table style='width:100%;border-collapse:collapse;font-size:14px'><tr style='background:#f8fafc;font-weight:600'><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Product</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Your Price</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Competitor</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Their Price</th><th style='padding:8px;border:1px solid #e2e8f0;text-align:left'>Status</th></tr>${rows}</table><h3>Recommendations</h3><ul style='padding-left:20px'>${suggs}</ul><p style='color:#94a3b8;font-size:12px;margin-top:24px'>Powered by MarketLensAI</p></body></html>`;\nconst subject = `&#128202; Daily Market Intelligence &#8212; ${user.company_name} &#8212; ${new Date().toLocaleDateString('en-IN')}`;\nreturn [{ json: { html, recipient: user.gmail, user, subject } }];"
      }
    },

    {
      "id": "gmail-dly",
      "name": "Daily: Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2640, 1820],
      "credentials": { "gmailOAuth2": { "id": "gmail-cred", "name": "Gmail Account" } },
      "parameters": { "sendTo": "={{ $json.recipient }}", "subject": "={{ $json.subject }}", "message": "={{ $json.html }}", "options": { "emailType": "html" } }
    },

    {
      "id": "http-dly-rep",
      "name": "Daily: Save Report Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 1820],
      "parameters": {
        "method": "POST",
        "url": "=https://YOUR_PROJECT_ID.supabase.co/rest/v1/reports",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "=YOUR_ANON_KEY" }, { "name": "Authorization", "value": "=Bearer YOUR_ANON_KEY" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $('Daily: Build Email').first().json.user.id, sent_to: $('Daily: Build Email').first().json.recipient, sent_at: new Date().toISOString(), status: 'sent' }) }}",
        "options": {}
      }
    },

    {
      "id": "noop001",
      "name": "Next User",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3120, 1820],
      "parameters": {}
    }

  ],

  "connections": {
    "Webhook":                               { "main": [[{ "node": "Config",                              "type": "main", "index": 0 }]] },
    "Config":                                { "main": [[{ "node": "Route by Type",                       "type": "main", "index": 0 }]] },
    "Route by Type": {
      "main": [
        [{ "node": "Respond: Onboarding",                   "type": "main", "index": 0 }],
        [{ "node": "Latest or History?",                    "type": "main", "index": 0 }],
        [{ "node": "Supabase: Get Reports",                 "type": "main", "index": 0 }],
        [{ "node": "AI Chat Agent",                         "type": "main", "index": 0 }],
        [{ "node": "Supabase: Get Products",                "type": "main", "index": 0 }],
        [{ "node": "Supabase: Get Analysis for Report",     "type": "main", "index": 0 }],
        [{ "node": "Scrape Competitor URL",                 "type": "main", "index": 0 }],
        [{ "node": "Build Competitor Discovery Response",   "type": "main", "index": 0 }]
      ]
    },
    "Latest or History?": {
      "main": [
        [{ "node": "Supabase: Latest Analysis",   "type": "main", "index": 0 }],
        [{ "node": "Supabase: Analysis History",  "type": "main", "index": 0 }]
      ]
    },
    "Supabase: Latest Analysis":             { "main": [[{ "node": "Respond: Analysis",              "type": "main", "index": 0 }]] },
    "Supabase: Analysis History":            { "main": [[{ "node": "Respond: Analysis",              "type": "main", "index": 0 }]] },
    "Supabase: Get Reports":                 { "main": [[{ "node": "Respond: Reports List",           "type": "main", "index": 0 }]] },
    "Gemini for Chat":                       { "ai_languageModel": [[{ "node": "AI Chat Agent",       "type": "ai_languageModel", "index": 0 }]] },
    "AI Chat Agent":                         { "main": [[{ "node": "Format Chat Reply",               "type": "main", "index": 0 }]] },
    "Format Chat Reply":                     { "main": [[{ "node": "Respond: Chat",                   "type": "main", "index": 0 }]] },
    "Supabase: Get Products":                { "main": [[{ "node": "Supabase: Get Competitors",       "type": "main", "index": 0 }]] },
    "Supabase: Get Competitors":             { "main": [[{ "node": "Build Analysis Prompt",           "type": "main", "index": 0 }]] },
    "Build Analysis Prompt":                 { "main": [[{ "node": "Gemini: Analyze Market",          "type": "main", "index": 0 }]] },
    "Gemini for Analysis":                   { "ai_languageModel": [[{ "node": "Gemini: Analyze Market", "type": "ai_languageModel", "index": 0 }]] },
    "Gemini: Analyze Market":               { "main": [[{ "node": "Parse AI Response",               "type": "main", "index": 0 }]] },
    "Parse AI Response":                     { "main": [[{ "node": "Supabase: Save Analysis",         "type": "main", "index": 0 }]] },
    "Supabase: Save Analysis":               { "main": [[{ "node": "Respond: Refresh",                "type": "main", "index": 0 }]] },
    "Supabase: Get Analysis for Report":     { "main": [[{ "node": "Build Email HTML",                "type": "main", "index": 0 }]] },
    "Build Email HTML":                      { "main": [[{ "node": "Send Gmail Report",               "type": "main", "index": 0 }]] },
    "Send Gmail Report":                     { "main": [[{ "node": "Supabase: Save Report Record",    "type": "main", "index": 0 }]] },
    "Supabase: Save Report Record":          { "main": [[{ "node": "Respond: Report Sent",            "type": "main", "index": 0 }]] },
    "Scrape Competitor URL":                 { "main": [[{ "node": "Extract Business Name",           "type": "main", "index": 0 }]] },
    "Gemini for Extraction":                 { "ai_languageModel": [[{ "node": "Extract Business Name", "type": "ai_languageModel", "index": 0 }]] },
    "Extract Business Name":                 { "main": [[{ "node": "Format Competitor URL Response",  "type": "main", "index": 0 }]] },
    "Format Competitor URL Response":        { "main": [[{ "node": "Respond: Competitor URL",         "type": "main", "index": 0 }]] },
    "Build Competitor Discovery Response":   { "main": [[{ "node": "Respond: Discover Competitors",   "type": "main", "index": 0 }]] },
    "Daily Scheduler":                       { "main": [[{ "node": "Supabase: Get All Users",          "type": "main", "index": 0 }]] },
    "Supabase: Get All Users":               { "main": [[{ "node": "Loop Each User",                  "type": "main", "index": 0 }]] },
    "Loop Each User":                        { "main": [[{ "node": "Daily: Get Products",             "type": "main", "index": 0 }]] },
    "Daily: Get Products":                   { "main": [[{ "node": "Daily: Get Competitors",          "type": "main", "index": 0 }]] },
    "Daily: Get Competitors":                { "main": [[{ "node": "Daily: Build Prompt",             "type": "main", "index": 0 }]] },
    "Daily: Build Prompt":                   { "main": [[{ "node": "Daily: AI Analysis",              "type": "main", "index": 0 }]] },
    "Gemini Daily":                          { "ai_languageModel": [[{ "node": "Daily: AI Analysis",  "type": "ai_languageModel", "index": 0 }]] },
    "Daily: AI Analysis":                    { "main": [[{ "node": "Daily: Parse Analysis",           "type": "main", "index": 0 }]] },
    "Daily: Parse Analysis":                 { "main": [[{ "node": "Daily: Save Analysis",            "type": "main", "index": 0 }]] },
    "Daily: Save Analysis":                  { "main": [[{ "node": "Daily: Build Email",              "type": "main", "index": 0 }]] },
    "Daily: Build Email":                    { "main": [[{ "node": "Daily: Send Report Email",        "type": "main", "index": 0 }]] },
    "Daily: Send Report Email":              { "main": [[{ "node": "Daily: Save Report Record",       "type": "main", "index": 0 }]] },
    "Daily: Save Report Record":             { "main": [[{ "node": "Next User",                       "type": "main", "index": 0 }]] },
    "Next User":                             { "main": [[{ "node": "Loop Each User",                  "type": "main", "index": 0 }]] }
  },

  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
